.ChatContainer {
  display: flex;
  height: 100%;
  font-size: 18px;
  .chatWrap {
    height: 100%;
    width: 100%;
    .userReceiverWrap {
      height: 10%;
      border-bottom: 2px solid rgb(174, 174, 174, 0.3);
    }
    .chatContent {
      width: 100%;
      height: 90%;
      padding: 20px 20px 0 20px;
      position: relative;
      .chatGroup{
        height: 90%;
        display: flex;
        flex-direction: column;
        position: relative;
      }
      .inputGroup{
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgb(174, 174, 174, 0.2);
        height: 55px;
        border-radius: 30px;
        padding: 0 20px;
        input{
          width: 100%;
          border: none;
          outline: none;
          background: none !important;
        }
      }
    }
  }
}

.cardReciverWrap{
  height: 100%;
  display: flex;
  flex-direction: row;
  border: none;
  align-items: center;
  padding-left: 20px;
  .cardImage{
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-color: pink;
  }
  .cardBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .mediaWrap{
    }
  }
}
.sendWrap{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2%;
  p{
    background-color: #009ffb ;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 15px;
    text-align: left;
    color: white;
    max-width: 40%;
    word-wrap: break-word;
  }
  span{
    color: gray;
    font-size: 0.8rem;
    background-color: rgb(174, 174, 174, 0.2);
    border-radius: 10px;
    padding:0.3% 1%
  }
}
.reciverWrap{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: fit-content;
  margin-bottom: 2%;
  width: 100%;
  img{
    width: 20px;
    height: 20px;
    background-color: #009ffb;
    border-radius: 10px;
    margin-right: 20px;
  }
  div{
    min-width: fit-content;
    width: 40%;
  }
  p{
    background-color: rgb(174, 174, 174, 0.3) ;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 15px;
    text-align: left;
    color: black;
    width: fit-content;
    word-wrap: break-word;
  }
  span{
    color: gray;
    font-size: 0.8rem;
    background-color: rgb(174, 174, 174, 0.2);
    border-radius: 10px;
    padding:0.3% 1%;
    max-width: fit-content;
  }
}