.ChatContainer {
  display: flex;
  height: 100%;
  font-size: 18px;
  .listWrap {
    height: 95vh;
    border-right: 2px solid rgb(174, 174, 174, 0.3);
    .userWrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem 0;
      height: 40vh;
      .imageWrap {
        width: 150px;
        background-color: red;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 20px;
        font-weight: bold;
      }
      InputGroup {
        width: 90%;
      }
    }
    .lstFriendWrap {
        overflow-x: auto;
        height: 55vh;
    }
    .lstFriendWrap::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    .lstFriendWrap::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background: rgba(0, 0, 0, 0.2);
    }
  }
  .chatWrap {
    height: 100%;
    .userReceiverWrap {
      height: 10%;
      border-bottom: 2px solid rgb(174, 174, 174, 0.3);
    }
    .chatContent {
      width: 100%;
      height: 90%;
      padding: 20px 20px 0 20px;
      position: relative;
      .chatGroup{
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
      }
      .inputGroup{
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgb(174, 174, 174, 0.2);
        height: 55px;
        border-radius: 30px;
        padding: 0 20px;
        input{
          width: 100%;
          border: none;
          outline: none;
          background: none !important;
        }
      }
    }
  }
}
.cardWrap {
  display: flex;
  flex-direction: row;
  height: 100px;
  border: none;
  border-bottom: 1px solid rgb(174, 174, 174, 0.3);
  border-radius: none;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .cardImage {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-color: pink;
  }
  .cardBody {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    .cardTitle{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    }
    .shortMessage{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Số dòng tối đa */
        -webkit-box-orient: vertical;
        color: rgb(174, 174, 174);
        font-size: 15px;
    }
  }
}
.cardWrap:hover{
  background-color: rgb(174, 174, 174, 0.3);
}
.cardReciverWrap{
  height: 100%;
  display: flex;
  flex-direction: row;
  border: none;
  align-items: center;
  padding-left: 20px;
  .cardImage{
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-color: pink;
  }
  .cardBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .mediaWrap{
    }
  }
}
.sendWrap{
  display: flex;
  justify-content: end;
  p{
    background-color: #009ffb ;
    width: fit-content;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 5px 15px;
    text-align: left;
    color: white;
    max-width: 40%;
    word-wrap: break-word;
  }
}
.reciverWrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  img{
    width: 40px;
    height: 40px;
    background-color: #009ffb;
    border-radius: 30px;
    margin-right: 20px;
  }
  p{
    background-color: rgb(174, 174, 174, 0.3) ;
    width: fit-content;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 5px 15px;
    text-align: left;
    color: black;
    max-width: 40%;
    word-wrap: break-word;
  }
}